# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Readme tool
docs

# Tests
test
coverage
*.lcov

# Editor directories and files
.github
.vscode
source
spec
typings
**/*.map
tsconfig.json
tsconfig.build.json
gulpfile.js
example
example.js
*.cjs
.prettierrc